.edit-product {
    width: 700px;
    height: 380px;
    margin: auto;
    border: 1px solid #eae8e8;
    border-radius: 10px;
    padding: 25px;
    margin-top: 60px;
    background: white;
}

.edit-product-form {
    display: flex;
    gap: 20%;
    justify-content: space-around;
}

.form-left, .form-right {
    flex: 1;
}

.field {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 10px;
}

.field-key {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    color: #423e3e;
    margin-bottom: 5px;
}

.field-value {
    flex: 1;
}

.input-field {
    padding: 8px 15px;
    border: 1px solid hsl(0deg 0% 80%);
    border-radius: 4px;
    width: 200px;
    color: #211e1e;
}

.select-field {
    width: 232px;
}

.checkbox-field {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.radio-button {
    display: flex;
    margin-top: 5px;
}

.radio-label {
    align-items: center;
    display: flex;
}

.divider {
    height: 1px;
    background: grey;
    opacity: .50;
    margin-bottom: 20px;
}

.header {
    font-size: 18px;
    font-weight: 600;
    color: #423e3e;
}

.submit-button {
    padding: 9px 35px;
    border-radius: 5px;
    border-color: grey;
    background: #1876d1;
    color: white;
    border: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancle-button {
    padding: 9px 35px;
    border-radius: 5px;
    border-color: grey;
    background: #e91e63;
    color: white;
    border: white;
}
