.table {
    width: 700px;
    height: 500px;
    margin: auto;
    border: 1px solid #eae8e8;
    border-radius: 10px;
    padding: 25px;
    margin-top: 60px;
    background: white;
}

.table-header, .table-row {
    display: flex;
}

.column-name {
    font-size: 15px;
    font-weight: 600;
    color: #423e3e;
}

.table-row {
    padding: 10px 0px 5px;
    font-size: 14px;
    color: #211e1e;
    align-items: center;
    height: 26px;
}

.table-body {
    background-color: white;
    overflow-y: scroll;
    max-height: 350px;
    min-height: 350px;
    min-width: 675px;
}

.item-name {
    flex: 2.5;
}

.item-weight, .item-availability {
    flex: 1;
}

.item-editable {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button-space {
    flex: 1
}

.divider {
    height: 1px;
    background: grey;
    opacity: .50;
    margin-bottom: 20px;
}

.edit-button {
    padding: 7px 10px;
    border-radius: 5px;
    border-color: grey;
    background: #1876d1;
    color: white;
    border: white;
    flex: 1;
    max-width: 58px
}

.delete-button {
    padding: 7px 10px;
    border-radius: 5px;
    border-color: grey;
    background: #e91e63;
    color: white;
    border: white;
    flex: 1;
    max-width: 58px
}

.add-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-label {
    font-size: 18px;
    font-weight: 600;
    color: #423e3e;
}

.add-button {
    padding: 9px 20px;
    border-radius: 5px;
    border-color: grey;
    background: #1876d1;
    color: white;
    border: white;
}